@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  width: 100%;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: #000000;
}
